@model  IEnumerable<ToolsStore.Models.Category>

<ul class="navbar-side">
@foreach (var category in Model)
{
    <li>
        @Html.ActionLink(category.Name,
                "Browse",
                "Store",
                new { Category = category.Name }, null)
    </li>
}
</ul>

