@model ToolsStore.Models.Order

@{
    ViewBag.Title = "Address And Payment";
}

<h2>AddressAndPayment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Shipping Information</h4>

    @Html.EditorForModel()
    <input type="submit" value="Submit Order" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
