@model int
@{
    ViewBag.Title = "Check Out Complete";
}

<h2 class="complete-h2">Checkout Complete</h2>

<p class="complete-p">
    Thanks for your order! Your order number is: @Model
</p>
<p class="complete-p">
    How about shopping for some more products in our @Html.ActionLink("Store", "Index", "Home",null, new { @class="btn btn-primary"})
</p>