body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    background-image: url('Images/Jumbotron-the-best-tools-store.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    margin-top:0;
    height:100%;
    padding-bottom:250px;
    display:block;
}

.jumbotron> h1{
    color:white;
    text-shadow: 3px 3px 2px #171717;
    font-size:6rem;
    font-weight:300;
}



/* Navbar Start --------------------------------------------------------------------*/
div.navbar{
    height:71px;

}
.navbar-inverse .navbar-nav > li > a {
    padding-top:18px;  
}
div.navbarleft{
    display:inline-block;

}

.navbarleft {
    position: relative;
    top: 17px;
    left:auto;
    width: 195px;
    border-width: 0 0 1px;
}

ul.navbar-side {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    background-color: #f1f1f1;
    height: 100%;
}

ul.navbar-side li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


ul.navbar-side li a:hover {
    background-color: #555;
    color: white;
}
/* Navbar End --------------------------------------------------------------------*/
/*Cart Glyphicon and Badge Start -------------------------------------------------- */
span.glyphicon-navbar-cart{
    color: #ff6a00;
    font-size: 3rem;
}

span#cart-status.badge.badge-up {
    min-height: 20px;
    min-width:20px;
    vertical-align: super;
}
/*Cart Glyphicon and Badge End -------------------------------------------------- */
/*StoreManager-Create Start -------------------------------------------------------------*/
h2.manager-h2, h3.manager-h3 {
    margin-top: 30px;
    margin-left: 15px;
}
p.manager-create-btn{
    float:right;
}
/*StoreManager-Create End ---------------------------------------------------------------*/
/*StoreManager-Delete Strart -------------------------------------------------------------*/
span.span-bold{
    font-size:1.8rem;
    font-weight:600;
}
div h3.manager-h3 {
    margin-top: 0;
    margin-left: 15px;
}
/*StoreManager-Delete End -------------------------------------------------------------*/
/* Home-Index-Tiles Start --------------------------------------------------------------------*/

.productbox {
    background-color: #ffffff;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 280px;
    height: 450px;
    border: 0.5px solid #b4b4b4;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
#img-product{
    min-width:240px;
    max-width:260px;
}
.producttitle {
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.productprice {
    position: absolute;
    bottom: 10px;
    width: 260px;
    border-top: 1px solid #dadada;
    padding-top: 5px;
}

.pricetext {
    font-weight: bold;
    font-size: 1.4em;
}
/* Home-Index-Tiles End --------------------------------------------------------------------*/
/* Store-Index-Tiles Start --------------------------------------------------------------------*/
.thumbnail-block {
    display: inline-block;
    height: 550px;
    padding-left:10px;
    margin-top:4px;
}
a.btn{
    margin-left:5px;
}
/* Store-Index-Tiles End --------------------------------------------------------------------*/

/* Store-Browse-Tiles Start --------------------------------------------------------------------*/
h2.browse-h2 {
    margin: 25px;
    font-weight: 600;
}
div.product-table{
    display:block;
    margin: 15px;
}
div.product-block{
    display:inline-block;
    height:450px;
    margin-bottom:10px;
}
div.product-block-inside {
    display: inline-block;
    height: 440px;
    border-radius:8px;
    border: 1px solid #b4b4b4;
    margin-bottom: 10px;
}
.product-title {
    display: block;
    height: 75px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2.2rem;
    line-height: 2.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-a {
    display:block;
    text-decoration: none;
    color: #171717;
}
.product-a:hover {
    text-decoration: none;
    color: #171717;
}
.product-img {
    display: block;
    height:260px;
    padding: 15px;
}

p.product-price {
    font-size: 2rem;
    margin-left:10px;
    font-weight: 600;
}
.btn-details{
    margin-left:10px;
}
/* Store-Browse-Tiles End --------------------------------------------------------------------*/

/* Store-Details-ProductId Start --------------------------------------------------------------------*/
.details-block{
    display:block;
    margin-top:4px;
    height:550px;
    border: 1px solid #b4b4b4;
    box-shadow:1px 1px 1px #555;
}
.details-block h2{
    margin-left: 10px;
}
.details-img{
    float:left;
    max-width: 45%;
    margin:15px;
}
div#details-product {
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
}
div#details-product p{
    font-size:2rem;
    font-weight:100;
}
 p.product-description{
    font-size: 1.5rem;
    font-weight: 400;
    text-align:left;
    margin-left:15px;
    margin-right:15px;
 
}
p.product-description em{
        font-size: 2rem;
        font-weight: 100;
        margin-left:15px;
}
/* Store-Details-ProductId End --------------------------------------------------------------------*/
/* ShoppingCart-Index Start --------------------------------------------------------------------*/
.cart-surmmary{
    background-color:white;
    min-height:400px;
}
.cart-surmmary-img {
    width: 100%;
    margin:5px;
}
td.change-size-cell{
    width: 120px;
    height:120px;
}
.table > tbody > tr > td {
    height: 120px;
    vertical-align:middle;
}
.cart-total{
    background-color:white;
    font-size: 2.5rem;
    font-weight:600;
}
/* ShoppingCart-Index End --------------------------------------------------------------------*/
/*  Checkout-AddressAndPayment Start --------------------------------------------------------------------*/
div.addresspayment-container {
    height: 680px;
    border: 1.5px solid #ECECEC;
}

h2.addresspayment-h2 {
    font-weight: 100;
    margin-left: 15px;
    margin-bottom:30px;
}

h4.addresspayment-h4 {
    font-weight: 600;
    margin-left: 15px;
}
/*  Checkout-AddressAndPayment End --------------------------------------------------------------------*/
/*  Checkout-Complete Start --------------------------------------------------------------------*/
h2.complete-h2{
    margin-top:35px;
    margin-left:15px;
 
}
p.complete-p {
    
    margin-left: 15px;
}
/*  Checkout-Complete End --------------------------------------------------------------------*/
